<style>
  .image-container {
    position: relative;
    width: 100%;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .image-container:hover .image {
    opacity: 0.3;
  }

  .image-container:hover .middle {
    opacity: 1;
  }

  input[type="file"] {
    display: none;
  }
.custom-file-upload {
    display: block;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
  }
</style>

<div class="container">
    <h2 style = "text-transform:uppercase;" class="text-center mb-4">{{account.name}}'S PERSONAL INFO</h2>
    <div class="row">
      <div class="col-4 mr-5">
        <label class="upload-label">Profile picture</label>
        <div class="image-container" data-toggle="tooltip" data-placement="top" title="Profile picture">
            <img id="avatar" class="image" src="
              {{#if account.avatar}}
                {{account.avatar}}
              {{else}}
                /img/image-not-available.jpg
              {{/if}}
            "/>
        </div>
      </div>
        
      <div class="col">
          <div class="row form-group">
              <label style="margin-bottom: 0px;" for="name">Name: </label>
              <p class="form-control" >{{account.name}}</p>
          </div>
          <div class="row form-group">
              <label style="margin-bottom: 0px;" for="email">Email: </label>
              <p class="form-control" >{{account.email}}</p>
          </div>
          <div class="row form-group">
              <label style="margin-bottom: 0px;" for="username">Username: </label>
              <p class="form-control">{{account.username}}</p>
          </div>
          <div class="row form-group">
              <label for="phone">Phone number: </label>
              <p class="form-control">{{account.phone}}</p>
          </div>
          <div class="row form-group">
              <label for="date">Create Date: </label>
              <p class="form-control">{{account.createdDate}}</p>
          </div>
          <div class="row form-group">
              <label for="phone">State: </label>
              {{#if account.isLocked }}
                <p class="form-control text-danger">Locked</p>
              {{else}}
                <p class="form-control text-danger">Unlocked</p>
              {{/if}}
          </div>
          <div id="lock-button-displayer" class="col-lg-5 mt-4 form-group">
            {{#if account.isLocked }}
              <button style="cursor: pointer;" id="lock-unlock-btn" class="btn btn-danger form-control"><img style="width:20px;height:20px;filter: invert(1);" src="/img/open-padlock.png" /> Unlock this user's account</button>
            {{else}}
              <button style="cursor: pointer;" id="lock-unlock-btn" class="btn btn-danger form-control"><img style="width:20px;height:20px;filter: invert(1);" src="/img/padlock.png" /> Lock this user's account</button>
            {{/if}}
        </div>
      </div>
    
    </div>

</div>

<script src="/js/jquery-3.2.1.min.js"></script>      
<script>
  $(document).ready(function(){
  
    $("#lock-unlock-btn").click( (e) => {
      console.log("aaaa");
      let data = {
        id: "{{account._id}}"
      };

      let path = "/user/lock";
      
      if ({{account.isLocked}})
      {
        path = "/user/unlock";
      }

      $.post(path, data, (result, status) => {
          location.reload();            
      });

    });
  })
</script>