<!--================Add Product=================-->
<section class="login_area p_100">
    <div class="container">
        <div class="login_inner">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8">
                    <form class="login_form row" action="/products/detail/updateproduct" method="POST" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
                        <div class="col-lg-6 form-group">
                            <label>Product Title:</label>
                            <input class="form-control" type="text" name="title" placeholder="Product name" value="{{product.title}}" required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Manufacturer:</label>
                            <input class="form-control" type="text" name="manufacturer" list="manufacturerList" placeholder="Manufacturer" value="{{product.manufacturer}}" required>
                            <datalist id="manufacturerList">
                                <option value="Yamaha">
                                <option value="Steinway">
                                <option value="Roland">
                                <option value="Gibson">
                                <option value="Sennheiser">
                                <option value="All">
                            </datalist>
                        </div>
                        <!-- <div class="col-lg-6 form-group">
                            <input class="form-control" type="file" name="cover">
                        </div> -->
                        <div class="col-lg-3 form-group">
                            <label class="upload-label">Cover image:</label>
                            <div id="fakeDiv">
                                <input type="file" id="selectedFile" name="cover" onchange="readURL(this);"/>
                                <input type="text" id="fakeInput" name="fakeInput" value="{{product.cover}}" readonly="readonly"/>
                                <span onclick="document.getElementById('selectedFile').click();" id="buttonImage" >Browse</span>
                                <img id="blah" src="{{product.cover}}" alt="your image" />

                            </div>
                        </div>

                        <div class="col-lg-3 form-group">
                            <label class="upload-label">Image 2:</label>
                            <div id="fakeDiv2">
                                <input type="file" id="selectedFile2" name="cover2" onchange="readURL2(this);"/>
                                <input type="text" id="fakeInput2" name="fakeInput2" value="{{product2.cover}}" readonly="readonly"/>
                                <span onclick="document.getElementById('selectedFile2').click();" id="buttonImage" >Browse</span>
                                <img id="blah2" src="{{product.cover2}}" alt="your image" />

                            </div>
                        </div>

                        <div class="col-lg-3 form-group">
                            <label class="upload-label">Image 3:</label>
                            <div id="fakeDiv3">
                                <input type="file" id="selectedFile3" name="cover3" onchange="readURL3(this);"/>
                                <input type="text" id="fakeInput3" name="fakeInput3" value="{{product.cover3}}" readonly="readonly"/>
                                <span onclick="document.getElementById('selectedFile3').click();" id="buttonImage" >Browse</span>
                                <img id="blah3" src="{{product.cover3}}" alt="your image" />
                            </div>
                        </div>

                        <div class="col-lg-3 form-group">
                            <label class="upload-label">Image 4:</label>
                            <div id="fakeDiv4">
                                <input type="file" id="selectedFile4" name="cover4" onchange="readURL4(this);"/>
                                <input type="text" id="fakeInput4" name="fakeInput4" value="{{product.cover4}}" readonly="readonly"/>
                                <span onclick="document.getElementById('selectedFile4').click();" id="buttonImage" >Browse</span>
                                <img id="blah4" src="{{product.cover4}}" alt="your image" />
                            </div>
                        </div>
                        

                        <div class="col-lg-12 form-group">
                            <label>Description:</label>
                            <textarea class="form-control" type="text" name="description" placeholder="Description" required>{{product.description}}</textarea>
                        </div>
                        <div class="col-lg-12 form-group">
                            <label>Type:</label>
                            <input class="form-control" type="text" list="typeList" name="filter" placeholder="Filter" value="{{product.filter}}" required>
                            <datalist id="typeList">
                                <option value="Guitar">
                                <option value="Violin">
                                <option value="Piano">
                                <option value="Drum">
                                <option value="All">
                            </datalist>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Price:</label>
                            <input class="form-control" type="number" name="price" min="0" step="0.01" placeholder="Price ($)" value="{{product.price}}" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Amount:</label>
                            <input class="form-control" type="number" name="inStock" min="0" placeholder="In stock" value="{{product.inStock}}" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Sold:</label>
                            <input class="form-control" type="number" name="sold" min="0" placeholder="sold" value="{{product.sold}}" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Discount:</label>
                            <input class="form-control" type="number" name="discount" min="0" step="0.01" placeholder="($)" value="{{product.discount}}">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Finish your work:</label>
                            <button type="submit" value="submit" class="btn subs_btn form-control" onkeydown="return event.key != 'Enter';">Update Product</button>
                        </div>
                        <input style="width: 0px; height: 0px; border: none;" name="id" value="{{product._id}}"/>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<!--================End login Area =================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#selectedFile").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>